:root {
    --text: rgb(255, 255, 255);
    --navigation: rgb(0, 0, 0);
}
h1 {
    font-family: "Josefin Sans", sans-serif;
}
h2 {
    font-family: "Josefin Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Josefin Sans", sans-serif;  
    font-weight: 300;
    font-style: normal;
  }

  /*header*/
  header {
    background-color: black;
  }
  nav img{
    width: 150px;
    position: relative;
    left: 10px;
}
nav{ 
    align-items: center;
}
.navBar{
    position: relative;
    right: 10px;
}
.Burger-Menu{
    width: 36px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 8px 0;
    position: relative;
    right: 20px;
}
#burger-button{
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}
/* Here start dropDown menu for nav */
.myDropDownContent{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 0.4s;
}
.overlay-content{
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    font-family: "Josefin Sans";
}
.overlay-content .current{
    color: white;
}
.myDropDownContent a{
    color:white;
    padding: 18px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    transition: 0.3s;
}
.myDropDownContent .closebtn{
    position: absolute;
    right: 0px;
    font-size:100px;
}
.show{display: block;}
.topnav{
	display:none
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:black;
}
.button{
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Josefin Sans" ;
    border-radius: 30px;
    margin-top: 10%;
    width: 25%;
    font-size: large;
    color: white;
    background: black;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

h1 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 5%;
    text-align: center;
    font-size: 100px;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    padding-top: 5%;
    text-align: center;
    font-size: 100px;
}
h5 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: x-large;
}
h6 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: large;
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 5%;
    color: white;
}
h3 {
    font-size: larger;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

}
.container{
    display: flex;
    align-items: center;
    object-fit: contain;
}
.leftfloat{ 
   max-width: 20%;
}
.middletext{
    margin: auto;
}
.rightfloat{
    max-width: 20%;

}
.black {
    background-color: black;
}


.bil {
    max-width: 99%;
    max-height: 99%;
    width: 99%;
}

@media screen and (max-width:991px){
    .topimg{
        max-width: 99%;
        max-height: 99%;
        padding-bottom: 10%;
    }
}

@media screen and (min-width:992px){
    nav{
        display: none;
    }
    .topnav{
		height:auto;
		display: flex;
		flex-direction: row;
		background-color: var(--navigation);
		padding:0px 50px
    }
    .topnav img {
		width:100px;
		height: auto;
    }
    .topnav h1 {
        font-size: 35px;
        color: var(--text);
        font-family: 'Josefin Sans';
        padding-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }
    #pages {
		overflow: hidden;
		margin: auto 0 auto auto;
		}
	#pages a{
		color:var(--text);
		text-decoration: none;
		font-family: 'Josefin Sans';
		font-size: 20px;
		padding: 15px;
		}
    #pages a:hover{
	text-decoration: underline;
    }
    .topimg {
        vertical-align: top;
        line-height: 0%;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .leftfloat{ 
        margin-left: auto;
        margin-right: 0;
    }
    .rightfloat{
       margin-left: 0;
       margin-right: auto;
    
    .middletext{
        font-size: xx-large;
  
           
}